{% extends 'routes/base.html' %}
{% load static %}


{% block title %}{{ ciudad.name }}{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static './style.css' %}">

    <div class="container mt-5">
        <h1>{{ ciudad.name }}</h1>
        <!-- Mostrar la imagen de la ciudad -->
        {% if ciudad.imagen %}
            <img src="{{ciudad.imagen.url}}" alt="{{ ciudad.name }}" class="img-fluid" style="max-width: 100%; height: auto;">
        {% else %}
            <p>No hay imagen disponible para esta ciudad.</p>
        {% endif %}
        
        <p> {{ ciudad.info_y_bodegas }} </p>
        <h3>Rutas desde {{ ciudad.name }}:</h3>
        <ul class="list-group mb-3">
            {% for ruta in rutas_salida %}
                <li class="list-group-item">
                    Hacia {{ ruta.end_city.name }} ({{ ruta.distance }} km)
                </li>
            {% empty %}
                <li class="list-group-item">No hay rutas de salida.</li>
            {% endfor %}
        </ul>

        <h3>Rutas hacia {{ ciudad.name }}:</h3>
        <ul class="list-group mb-3">
            {% for ruta in rutas_llegada %}
                <li class="list-group-item">
                    Desde {{ ruta.start_city.name }} ({{ ruta.distance }} km)
                </li>
            {% empty %}
                <li class="list-group-item">No hay rutas de llegada.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
